<div class="text-center position-relative">
    <h1 class="w-100 text-center">
        {{graph.title}}
    </h1>
    <div style="right: 0; top: 0;" class="position-absolute buttons">
        <a class="btn btn-lg" (click)="delete.emit(); $event.stopPropagation();"><fa-icon [icon]="faTrash"></fa-icon></a>
    </div>
</div>
<div class="graph-content" sizeMe [monitorHeight]="true" (resize)="changeExtent($event.width, $event.height)">
    <div *ngIf="graph.traces.length <= 0; else content">Graf nemá žádné křivky</div>
    <ng-template #content>
        <plotly-plot
            divId="graph-{{graph.id}}"
            [updateOnlyWithRevision]="true"
            [data]="loadedData"
            [config]="{
                responsive: true,
                displaylogo: false,

                modeBarButtonsToRemove: ['select2d', 'lasso2d' ]
            }"
            [layout]="{
                xaxis: { title: graph.xLabel },
                yaxis: { title: graph.yLabel },
                margin: { l: 48, t: 32, r: 16, b: 48 },

                width: graphWidth,
                height: graphHeight,
                hovermode: false
            }"
            [revision]="revision"

            (initialized)="bindInstance($event)"
            (afterPlot)="onUpdate()"
        ></plotly-plot>
        <!-- width: graphWidth,
        height: graphHeight -->
    </ng-template>
</div>