<header class="main-header">

  <a href="" class="logo">
    <span class="logo-mini"><b>S</b>an</span>
    <span class="logo-lg"><b>Storage Analytics</b></span>
  </a>

  <nav class="navbar navbar-static-top navbar-expand-md" role="navigation">
    <div class="collapse navbar-collapse show">
      <ul ngbNav class="nav ml-auto">
        <ng-content></ng-content>
        <li title="Přidat graf" ngbNavItem><a class="nav-link" href="#" (click)="addGraph.emit()"><fa-icon [icon]="faPlus"></fa-icon></a></li>
        <li title="Odemknout/zamknout rozvržení" ngbNavItem><a class="nav-link" href="#" (click)="toggleLock.emit()"><fa-icon [icon]="layoutUnlocked ? faUnlock : faLock"></fa-icon></a></li>
      </ul>
    </div>
  </nav>

</header>