<div class="modal" tabindex="-1" role="dialog" [class.show]="show">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="graph" class="modal-title">Importovat křivku</h4>
        <h4 *ngIf="!graph" class="modal-title">Přidat graf</h4>
        <button type="button" class="close" aria-label="Close" (click)="toggle.emit()"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <form class="row" *ngIf="sources !== undefined; else loading">
          <div class="col">
            <ngx-treeview
              [items]="items"
              [config]="{
                hasAllCheckbox: false,
                hasCollapseExpand: false,
                maxHeight: 500
              }"
              (selectedChange)="onSelectedChange($event)"
            >
            </ngx-treeview>
          </div>
          <div class="col">
            <form>
              <div class="form-group">
                <label>Rozmezí:</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    name="timeRange"
  
                    [owlDateTime]="timerangepicker"
                    [owlDateTimeTrigger]="timerangepicker"
  
                    [selectMode]="'range'"
                    [min]="getMinDate()"
                    [max]="getMaxDate()"
                    [(ngModel)]="timeRange"
  
                    readonly
                  >
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" (click)="timeRange = [ getMinDate(), getMaxDate() ]">X</button>
                  </span>
                </div>
                <owl-date-time #timerangepicker></owl-date-time>
              </div>
            </form>
          </div>
        </form>

        <ng-template #loading>
          Načítají se zdroje...
        </ng-template>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="toggle.emit()">Zrušit</button>
        <button type="button" class="btn btn-primary" (click)="onImport()">Importovat</button>
      </div>
    </div>
  </div>
</div>