<app-header
  [layoutUnlocked]="layoutUnlocked"
  (toggleLock)="onToggleLock()"
  (addGraph)="onAddGraph()"
></app-header>

<app-side-menu>

  <!-- Graph controls -->
  <ng-container *ngIf="selectedGraph !== undefined; else noGraph">
    <div>
      <a
        class="nav-btn"
        [class.active]="canMoveUp()"
        (click)="canMoveUp() && moveUp()"
      ><fa-icon [icon]="faUp"></fa-icon></a>
      <a
        class="nav-btn"
        [class.active]="canMoveDown()"
        (click)="canMoveDown() && moveDown()"
      ><fa-icon [icon]="faDown"></fa-icon></a>
      <a class="nav-btn active" (click)="removeGraph()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </a>
    </div>
    <ul class="sidebar-menu"><li class="header">VLASTNOSTI</li></ul>
    <form style="color: white">
      <div class="form-group"><label>Název:</label><input class="form-control" type="text" value="{{selectedGraph.title}}"  (change)="selectedGraph.title  = $event.target.value"></div>
      <div class="form-group"><label>Osa x:</label><input class="form-control" type="text" value="{{selectedGraph.xLabel}}" (change)="selectedGraph.xLabel = $event.target.value"></div>
      <div class="form-group"><label>Osa y:</label><input class="form-control" type="text" value="{{selectedGraph.yLabel}}" (change)="selectedGraph.yLabel = $event.target.value"></div>
    </form>
    <ul class="sidebar-menu">
      <li class="header" style="display: flex; align-items: center;">
        KŘIVKY
        <span class="btn btn-menu active text-secondary" (click)="traceImportOpen = true"><fa-icon [icon]="faAdd"></fa-icon></span>
      </li>
    </ul>
    <app-trace-controls (action)="traceControl($event)"></app-trace-controls>
    <app-trace-list
      [traces]="selectedGraph.traces"
      [selected]="selectedTraces"
      (toggle)="toggleTrace($event)">
    </app-trace-list>
  </ng-container>

  <ng-template #noGraph>
    <ul class="sidebar-menu"><li class="header">VYBERTE GRAF</li></ul>
  </ng-template>
</app-side-menu>

<!-- TODO: Spinner -->

<div class="content-wrapper">
    <gridster
      class="container-fluid"
      [options]="{
        minCols: 12,
        maxCols: 12,
        draggable: {
          enabled: layoutUnlocked
        },
        resizable: {
          enabled: layoutUnlocked
        },
        pushItems: true,
        compactType: 'compactUp'
      }"
    >
      <gridster-item class="d-flex" *ngFor="let graph of graphs" [item]="graph">
        <app-graph-view
          [graph]="graph"
          [traces]="graph.traces"
          [class.active]="selectedGraph === graph"
          (click)="selectedGraph = graph; selectedTraces = []">
        </app-graph-view>
      </gridster-item>
    </gridster>
</div>

<app-trace-import-modal [show]="traceImportOpen" [usedIds]="selectedGraphTraceIds()" (toggle)="traceImportOpen = false" (import)="importTraces($event)"></app-trace-import-modal>
<app-treshold-modal [show]="tresholdOpen" (toggle)="tresholdOpen = false" (treshold)="filterTreshold($event)"></app-treshold-modal>