<app-header
  [layoutUnlocked]="layoutUnlocked"
  (toggleLock)="onToggleLock()"
  (addGraph)="traceImportOpen = 1"
></app-header>

<app-side-menu>

  <!-- Graph controls -->
  <ng-container *ngIf="selectedGraph !== undefined; else noGraph">
    <ul class="sidebar-menu"><li class="header">VLASTNOSTI</li></ul>
    <form style="color: white">
      <div class="form-group"><label>Název:</label><input class="form-control" type="text" value="{{selectedGraph.title}}"  (change)="selectedGraph.title  = $event.target.value"></div>
      <div class="form-group"><label>Osa x:</label><input class="form-control" type="text" value="{{selectedGraph.xLabel}}" (change)="selectedGraph.xLabel = $event.target.value"></div>
      <div class="form-group"><label>Osa y:</label><input class="form-control" type="text" value="{{selectedGraph.yLabel}}" (change)="selectedGraph.yLabel = $event.target.value"></div>
    </form>
    <ul class="sidebar-menu">
      <li class="header" style="display: flex; align-items: center;">
        KŘIVKY
        <span class="btn btn-menu active text-secondary" (click)="traceImportOpen = 2"><fa-icon [icon]="faAdd"></fa-icon></span>
      </li>
    </ul>
    <app-trace-controls (action)="traceControl($event)"></app-trace-controls>
    <app-trace-list
      [traces]="selectedGraph.traces"
      [selected]="selectedTraces"
      (toggle)="toggleTrace($event)"
      (showLdevMap)="showLdevMap($event)"
    >
    </app-trace-list>
  </ng-container>

  <ng-template #noGraph>
    <ul class="sidebar-menu"><li class="header">VYBERTE GRAF</li></ul>
  </ng-template>
</app-side-menu>

<!-- TODO: Spinner -->

<div class="content-wrapper">
    <gridster
      class="container-fluid"
      [options]="{
        minCols: 12,
        maxCols: 12,
        draggable: {
          enabled: layoutUnlocked
        },
        resizable: {
          enabled: layoutUnlocked
        },
        pushItems: true,
        compactType: 'compactUp',
        displayGrid: layoutUnlocked ? 'always' : 'none'
      }"
    >
      <gridster-item class="d-flex" *ngFor="let graph of graphs" [item]="graph">
        <app-graph-view
          [graph]="graph"
          [traces]="graph.traces"
          [class.active]="selectedGraph === graph"
          (click)="selectedGraph = graph; selectedTraces = []"
          (delete)="removeGraph(graph)"
        >
        </app-graph-view>
      </gridster-item>
    </gridster>
</div>

<app-trace-import-modal
  [show]="traceImportOpen > 0"
  [graph]="traceImportOpen > 1 ? selectedGraph : undefined"
  
  (toggle)="traceImportOpen = 0"
  (import)="importTraces($event)"
  (addGraph)="onAddGraph($event)"
></app-trace-import-modal>
<app-treshold-modal [show]="tresholdOpen" (toggle)="tresholdOpen = false" (treshold)="filterTreshold($event)"></app-treshold-modal>