<app-header
  (changeOrientation)="onChangeOrientation()"
  (addGraph)="onAddGraph()"
></app-header>

<app-side-menu>

  <!-- Graph controls -->
  <ng-container *ngIf="selectedId !== undefined; else noGraph">
    <div>
      <a
        class="nav-btn ion-arrow-up-c"
        [class.active]="canMoveUp()"
        (click)="canMoveUp() && moveUp()"
      ></a>
      <a
        class="nav-btn ion-arrow-down-c"
        [class.active]="canMoveDown()"
        (click)="canMoveDown() && moveDown()"
      ></a>
      <a class="nav-btn active ion-trash-b" (click)="removeGraph()"></a>
    </div>
    <ul class="sidebar-menu"><li class="header">VLASTNOSTI</li></ul>
    <form style="color: white">
      <div class="form-group"><label>Název:</label><input class="form-control" type="text" value="{{selectedGraph().title}}"  (change)="selectedGraph().title  = $event.target.value"></div>
      <div class="form-group"><label>Osa x:</label><input class="form-control" type="text" value="{{selectedGraph().xLabel}}" (change)="selectedGraph().xLabel = $event.target.value"></div>
      <div class="form-group"><label>Osa y:</label><input class="form-control" type="text" value="{{selectedGraph().yLabel}}" (change)="selectedGraph().yLabel = $event.target.value"></div>
    </form>
    <ul class="sidebar-menu"><li class="header">KŘIVKY</li></ul>
    <app-trace-controls></app-trace-controls>
    <app-trace-list [traces]="selectedGraph().traces" [selected]="selectedTraces"></app-trace-list>
  </ng-container>

  <ng-template #noGraph>
    <ul class="sidebar-menu"><li class="header">VYBERTE GRAF</li></ul>
  </ng-template>
</app-side-menu>

<!-- TODO: Spinner -->

<div class="content-wrapper">
  <section class="container-fluid container-graphs" [class.horizontal]="horizontal">
    <app-graph-view
      *ngFor="let graph of graphs"
      [graph]="graph"
      [class.active]="selectedId === graph.id"
      (click)="selectedId = graph.id">
    </app-graph-view>
  </section>
</div>