<div class="modal" tabindex="-1" role="dialog" [class.show]="show">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">LDEV Mapa</h4>
        <button type="button" class="close" aria-label="Close" (click)="toggle.emit()"><span aria-hidden="true">&times;</span></button>
      </div>

      <div class="modal-body">
        <ul *ngIf="ldevInfo != null; else loading">
          <li>LDEV: {{ldevInfo.id}} [{{ldevInfo.name}}]</li>
          <li>SIZE: {{ldevInfo.size}}</li>
          <li>MPU: {{ldevInfo.mpu}}</li>
          <li>POOL: {{ldevInfo.poolName}}</li>
          <li>
            HOST:
            <ul>
              <li *ngFor="let hostgroup of getHostgroups()">
                {{hostgroup}}
                <ul>
                  <li *ngFor="let hostport of getPorts(hostgroup)">
                    {{hostport.port}}
                    <ul>
                      <li *ngFor="let wwn of getWwns(hostport)">
                        {{wwn.wwn}} [{{wwn.nickname}}]
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ng-template #loading>
          Načítá se mapa...
        </ng-template>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="toggle.emit()">Zrušit</button>
      </div>
    </div>
  </div>
</div>